.main-img {
  width: 300px;
  height: 400px;
}

.game-card {
  display: flex;
  flex-direction: row;
}

.game-form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
}