.main-img {
  width: 400px;
  height: 500px;
}

.game-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.game-form {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 60px;
  width: 100%;
  background-color: #313140;
  border-radius: 6px;
}

.game-form * {
  background-color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  width: 99%;
  margin-bottom: 25px;
  margin-left: 20px;
}

.container {
  overflow-y: hidden;
}

.description-item {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.description-item-full {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.time-to-beat-col:not(:first-child) {
  margin-left: 15px;
}

.time-to-beat-row {
  margin-top: 60px;
}

.label-full {
  width: 15%;
}

.label {
  width: 30%;
}

.value {
  width: 60%;
}

.tab-block-title {
  width: 96%;
  font-size: larger;
  /*text-decoration: underline #d99243;*/
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #d99243;
}

.block-button {
  margin-right: 5px;
}

.block-button .fa-remove, .block-button .fa-check {
  color: white !important;
}

.second-block {
  margin-top: 50px;
}

.game-form-toolbar .button {
  margin-right: 10px;
}

.description-item a {
  color: #d99243 !important;
}

.fa-check {
  margin-left: 5px;
}

.add-input {
  margin-top: 10px;
}

.release-year-input, .completion-year-input {
  width: 66px;
}

.input-row > .label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32px;
}

.input-row {
  line-height: 20px;
}

.metacritic-input {
  width: 57px;
}

.time-to-beat-input {
  width: 84px;
}

.score-input {
  width: 57px;
}

.hours-input {
  width: 75px;
}

textarea:focus {
  outline: none;
}

.notes-textarea {
  padding: 5px 15px;
  border: 1px solid #d99243;
  border-bottom: 2px solid #d99243;
  border-top: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 130px;
}

@media (max-width: 1440px) {
  .main-img {
    width: 320px;
    height: 400px;
  }

  .row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .description-item {
    width: 100%;
    margin-bottom: 25px;
  }

  .label-full {
    width: 30%;
  }

  .time-to-beat-col {
    width: 100px;
  }

  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

@media (max-width: 1360px) {
  .time-to-beat {
    flex-direction: column;
  }

  .time-to-beat-col:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 1000px) {
  .game-card {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .game-form {
    margin: 20px 0 0;
  }

  .label {
    width: 30%;
  }

  .label-full {
    width: 40%;
  }

  .value {
    width: 50%;
  }

  .tab-block-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .row {
    margin-left: 0;
  }

  .label {
    width: 35%;
  }

  .value {
    width: 65%;
  }

  .label-full {
    width: 50%;
  }

  input {
    padding: 5px 5px;
    margin-left: 5px;
  }

  .genre-input {
    width: 120px;
  }

  .release-year-input, .completion-year-input {
    width: 50px;
  }

  .developer-input, .publisher-input, .new-image-input {
    width: 160px;
  }

  .metacritic-input, .score-input {
    width: 40px;
  }

  .time-to-beat-input {
    width: 65px;
  }

  .hours-input {
    width: 60px;
  }

  .input-row > .label {
    height: auto;
  }
}