.game {
  width: 180px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.game-img {
  width: inherit;
  height: 230px;
}

.game p {
  text-align: center;
}

.game-link {
  text-decoration: none;
  color: white;
}
