* {
  scrollbar-width: thin;
  scrollbar-color: #18181e rgba(24, 24, 30, 0.76);
  background-color: #23222d;
}

.menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #18181e;
  justify-content: space-between;
}

.menu-link {
  padding: 7px 20px;
  background-color: #000;
  color: #FFF;
  display: inline-flex;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.selected {
  background-color: #d99243;
}

.menu-left, .menu-right {
  display: flex;
}

.main {
  display: flex;

  color: #f7ab48;
  flex-direction: column;
  margin-top: 38px;
}

.title {
  margin-left: 40px;
  width: 90%;
  height: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 80px;
  margin-left: 40px;
}

